.cart-widget {
    display: flex;
    align-items: center;
    margin-left: 20px;
    position: relative;
  }
  
  .cart-widget i {
    font-size: 24px;
  }
  
  .cart-notification {
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -8px;
    right: -8px;
  }
  
